
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SSID Spoofing</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/progresstracker.css" />
    <script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <noscript>
        <link rel="stylesheet" type="text/css" href="css/nojs.css" />
    </noscript>
</head>
<body>
<div class="container">
    <header>
        <h1>SSID Spoofing<br><span> aka phony access points, evil twins, or honeypots</span></h1>
        <h2>Why you should always be sure the access point is legitimate when connecting to a WLAN</h2>
    </header>
    <!-- Codrops top bar -->
    <div class="codrops-top">
        <div class="clr">
            <!-- Progress Tracker v2 -->
            <ol class="progress" data-steps="3">
                <li class="active" id="introprogress">
                    <span class="name">Intro</span>
                    <span class="step"><span>1</span></span>
                </li>
                <li class="" id="contentprogress">
                    <span class="name">Conceptual Content</span>
                    <span class="step"><span>2</span></span>
                </li>
                <li class="" id="demoprogress">
                    <span class="name">Demo</span>
                    <span class="step"><span>3</span></span>
                </li>
            </ol>
        </div>
    </div><!--/ Codrops top bar -->

    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2>Agenda</h2>
            <p>1. What is SSID Spoofing
            <br>2. How does it work? (Conceptual)
            <br>3. How can one avoid revealing information?
            <br> &emsp; &#8226; Https?
            <br> &emsp;&emsp; &#8226; Https flaws
            <br> &emsp; &#8226; VPN
            <br> 4. How does it work? (Demo)</p>

            <div class="da-img"><img src="images/1.png" alt="" /></div>
        </div>
        <div class="da-slide">
            <h2>What is SSID Spoofing?</h2>
            <p>&#8226; SSID = Service Set Identifier (Name of the Wifi) 
			<br>&emsp;&#8226; Cloning wireless access point names	
			<br>&#8226; Creates clones of legitimate wifis
			<br>&emsp;&#8226; Impossible to differentiate
			<br>&emsp;&emsp;&#8226; Causes end users to connect (unkowningly) to a clone
			<br>&emsp;&emsp;&emsp;&#8226; Allows "bad guys" to steal information 
			
			</p>

            <!--<div class="da-img"><img src="images/2.png" alt="image01" /></div>-->
        </div>
        <div class="da-slide">
            <h2>How does it work? (Conceptual)</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

            <!--<div class="da-img"><img src="images/3.png" alt="image01" /></div>-->
        </div>
        <div class="da-slide">
            <h2> How can one avoid revealing information?</h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>

            <!--<div class="da-img"><img src="images/4.png" alt="image01" /></div>-->
        </div>
        <div class="da-slide" id="demoslide">
            <h2> Demo time</h2>


            <!--<div class="da-img"><img src="images/4.png" alt="image01" /></div>-->
        </div>

        <nav class="da-arrows">
            <span class="da-arrows-prev" id="previousslide" onclick="decrement()"> </span>
            <span class="da-arrows-next" id="nextslide" onclick="changeActive()"></span>
        </nav>
    </div>
</div>

<div class="button_container">
<button class="btn btn-primary" onclick=openInNewTab("http://172.16.42.1:1471")>Configure Router</button> &emsp;&emsp;&emsp;&emsp;
<button class="btn btn-primary" onclick=openInNewTab("http://www.facebook.com/login")>Facebook Login</button> &emsp;&emsp;&emsp;&emsp;
<button class="btn btn-primary" onclick=openInNewTab("http://mygateway.umsl.edu")>Umsl Login</button> &emsp;&emsp;&emsp;&emsp;
<button class="btn btn-primary" onclick=openInNewTab("/chat")>Live Q&A</button> &emsp;&emsp;&emsp;&emsp;
</div>


<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery.cslider.js"></script>
<script type="text/javascript" src="js/progressbar.js"></script>
<script type="text/javascript" src="js/link.js"></script>
<script type="text/javascript">
    $(function() {

        $('#da-slider').cslider();

    });
</script>
</body>
</html>