<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    
    <div class="page-wrapper">
        <!-- header-10 -->
        <header class="header-10">
            <div class="container">
                <div class="navbar col-sm-12" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"></button>
                        <a class="brand" href="/">ScreensOnsite</a>
                     </div>
                    <div class="collapse navbar-collapse pull-right">
                        <ul class="nav pull-left">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="#">Screens</a></li>
                            <li><a href="#">Windows</a></li>
                            <li><a href="#">Drop Off Service</a></li>
                        </ul>
                        <form class="navbar-form pull-left">
                            <a class="btn btn-success" href="/quote">Get a Quote</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="header-background"></div>
        </header>
        <div class="container">
            <div style="padding-top: 99px; text-align: center;">
                <form class="form-horizontal" action="/submitQuote/" method="post">
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="streetAddress" class="col-sm-2 control-label">Street Address:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="streetAddress" id="streetAddress" placeholder="Street Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">City:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="city" id="city" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">State:</label>
                        <div class="col-sm-10">
                            <select name="state" id="state" class="form-control">
                                <option value="AL">AL</option>
                                <option value="AK">AK</option>
                                <option value="AZ">AZ</option>
                                <option value="AR">AR</option>
                                <option value="CA">CA</option>
                                <option value="CO">CO</option>
                                <option value="CT">CT</option>
                                <option value="DE">DE</option>
                                <option value="DC">DC</option>
                                <option value="FL">FL</option>
                                <option value="GA">GA</option>
                                <option value="HI">HI</option>
                                <option value="ID">ID</option>
                                <option value="IL">IL</option>
                                <option value="IN">IN</option>
                                <option value="IA">IA</option>
                                <option value="KS">KS</option>
                                <option value="KY">KY</option>
                                <option value="LA">LA</option>
                                <option value="ME">ME</option>
                                <option value="MD">MD</option>
                                <option value="MA">MA</option>
                                <option value="MI">MI</option>
                                <option value="MN">MN</option>
                                <option value="MS">MS</option>
                                <option value="MO">MO</option>
                                <option value="MT">MT</option>
                                <option value="NE">NE</option>
                                <option value="NV">NV</option>
                                <option value="NH">NH</option>
                                <option value="NJ">NJ</option>
                                <option value="NM">NM</option>
                                <option value="NY">NY</option>
                                <option value="NC">NC</option>
                                <option value="ND">ND</option>
                                <option value="OH">OH</option>
                                <option value="OK">OK</option>
                                <option value="OR">OR</option>
                                <option value="PA">PA</option>
                                <option value="RI">RI</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="TN">TN</option>
                                <option value="TX">TX</option>
                                <option value="UT">UT</option>
                                <option value="VT">VT</option>
                                <option value="VA">VA</option>
                                <option value="WA">WA</option>
                                <option value="WV">WV</option>
                                <option value="WI">WI</option>
                                <option value="WY">WY</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="zipCode" class="col-sm-2 control-label">Zip Code:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="zipCode" id="zipCode" placeholder="Zip Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="col-sm-2 control-label">Phone Number:</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" name="phoneNumber" id="phoneNumber" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress" class="col-sm-2 control-label">E-mail Address:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="E-mail Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comments" class="col-sm-2 control-label">Comments:</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" name="comments" id="comments" placeholder="Enter comments here!" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" value="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/common-files/js/jquery-1.10.2.min.js"></script>
    <script src="/flat-ui/js/bootstrap.min.js"></script>
    <script src="/common-files/js/modernizr.custom.js"></script>
    <script src="/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="/common-files/js/jquery.parallax.min.js"></script>
    <script src="/common-files/js/startup-kit.js"></script>
    <script src="/common-files/js/jquery.backgroundvideo.min.js"></script>
    <script src="/js/script.js"></script>


</body>
</html>