<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<div class="page-wrapper">
    <!-- header-10 -->
    <header class="header-10">
        <div class="container">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="/">ACA Insurance Group</a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/smallbusiness">Small Business</a></li>
                        <li><a href="#">Health Assurance Plan</a></li>
                    </ul>
                    <form class="navbar-form pull-left">
                        <a class="btn btn-success" href="/quote">Contact Us</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="header-background"></div>
    </header>
    <section class="header-10-sub v-center">
        <div class="background">
            &nbsp;
        </div>

    <div id="banner-wrap">
        <div class="container">
            <div id="banner">

                <div id="bannerleft">
                    <div class="wsite-header"></div>
                    <div class="corner-top-left"></div>
                    <div class="corner-top-right"></div>
                    <div class="corner-bottom-left"></div>
                    <div class="corner-bottom-right"></div>
                </div><!-- end banner-left -->

                <div id="bannerright" class="landing-banner-outer">
                    <div class="landing-banner-mid">
                        <div class="landing-banner-inner">
                            <h2><span class='wsite-text'>The Small Business Insurance Market has changed</span></h2>
                            <p><span class='wsite-text'>The new PPACA laws allow us to offer new innovative ways for small business to support their employees and control cost for themselves. We offer several turn-key solutions for you unique situation.</span></p>
                            <div style="text-align:left;"><div style="height: 0px; overflow: hidden;"></div>
                                <a class="wsite-button wsite-button-large wsite-button-highlight" href="/contact-us.html" >
                                    <span class="wsite-button-inner">Contact Us</span>
                                </a>
                                <div style="height: 0px; overflow: hidden;"></div></div>
                        </div><!-- end banner inner -->
                    </div><!-- end banner mid -->
                </div><!-- end banner-right -->

                <div style="clear:both;"></div>
            </div><!-- end banner -->
        </div><!-- end container -->
    </div><!-- end banner-wrap -->

    <div id="main-wrap">
        <div class="container">
            <div id='wsite-content' class='wsite-elements wsite-not-footer'>
                <span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="../../common-files/img/content/1427839095.png" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
                <div class="paragraph" style="text-align:left;display:block;"><strong>DEFINED CONTRIBUTION (TAX FREE) HEALTH INSURANCE</strong><br />For small businesses that would like to start new coverage or&nbsp;<u>stop</u>&nbsp;purchasing health insurance but still contribute towards employees health coverage as a benefit of their employment the concept of a Section 105 Defined Contribution plan offers many benefits to both your business and your employees. As a result of the Affordable Care Act&rsquo;s law that, as of January 1st, 2014, requires insurers to offer coverage without health questions and to cover pre-existing conditions, individual and family coverage is more freely available to your employees and the broader availability of coverage, combined with a proper Section 105 Defined Benefit Plan, can help your business and its bottom line as well as our employees and their budgets. In many &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;cases it&rsquo;s a &lsquo;win&ndash;win&rsquo; for your business and employees.<br /><span></span><br /><span></span>  Benefits include;<br /><span></span><br /><span></span>  &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Employers can make a set contribution of their choosing towards your employees health insurance that is a tax deductible business &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;expense</strong>, just like insurance premiums are in a group policy.<br /><span></span><br /><span></span>  &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>The</strong>&nbsp;<strong>employer&rsquo;s contributions can be any amount desired and can vary from class to class of employee</strong>.<br /><span></span><br /><span></span>  &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Employees are free to select any health insurance company or any policy they like</strong>. The employer no longer purchases group insurance and &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; thus each employee can select the insurance company and plan that best meets their own unique needs. Working with the professional agents and &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; underwriters here at Morris &amp; Reynolds your employees, person by person, will select the coverage that is best for them.<br /><span></span><br /><span></span>  &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Employees that qualify for assistance can also receive a premium subsidy from the Federal government</strong>&nbsp;based on their income and other &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; factors. In addition to the possible subsidy the employer&rsquo;s defined contribution can be used to pay some or all of the balance of the employee&rsquo;s &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; premium.<br /><span></span><br /><span></span>  Defined contribution health plans are an affordable alternative to employer-sponsored group health insurance plans. Defined contribution health plans by themselves are not health insurance plans.<br /><span></span><br /><span></span>  <strong><em>Recruiting and retaining key employees is important to every company and a company&rsquo;s health benefit program is a key part of the compensation they offer to their employees. Due to the rising costs of traditional employer-sponsored health insurance, defined contribution health plans are gaining popularity in the U.S.</em></strong><br /><span></span><br /><span></span>  The general concept of a defined contribution health plan is that a company gives each employee a fixed dollar amount (a &ldquo;defined contribution&rdquo;) that the employees choose how to spend. Typically, employees are allowed to use their defined contribution to reimburse themselves for individual health insurance costs.<br /><span></span></div>
                <hr style="width:100%;clear:both;visibility:hidden;"></hr>

                <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                        <a>
                            <img src="../../common-files/img/content/1443063.png?845" alt="Picture" style="width:auto;max-width:100%" />
                        </a>
                        <div style="display:block;font-size:90%"></div>
                    </div></div>

                <div class="paragraph" style="text-align:left;">Defined contribution plans allow employees to be more involved in their health care choices. With a defined contribution health plan, employees are responsible for selecting an individual health insurance plan and making payments out of their own finances.&nbsp;<br /><span></span><br /><span></span></div></div>

        </div><!-- end container -->
    </div><!-- end main-wrap -->
</div><!-- end page-wrap -->

<div id="footer-wrap">
    <div class="container">
        <div class='wsite-elements wsite-footer'>
            <div><div class="wsite-multicol"><div class='wsite-multicol-table-wrap' style='margin:0 -15px'>
                        <table class='wsite-multicol-table'>
                            <tbody class='wsite-multicol-tbody'>
                            <tr class='wsite-multicol-tr'>
                                <td class='wsite-multicol-col' style='width:50%;padding:0 15px'></td>
                                <td class='wsite-multicol-col' style='width:50%;padding:0 15px'></td>
                            </tr>
                            </tbody>
                        </table>
                    </div></div></div>

            <div class="paragraph"><a href='http://www.ipage.com/' target='_blank'>Web Hosting</a> by iPage</div></div><script type='text/javascript'>
            <!--

            if (document.cookie.match(/(^|;)\s*is_mobile=1/)) {
                var windowHref = window.location.href || '';
                if (windowHref.indexOf('?') > -1) {
                    windowHref += '&';
                } else {
                    windowHref += '?';
                }
                document.write(
                        "&nbsp;&nbsp;&nbsp;&nbsp;" +
                        "<a class='wsite-view-link-mobile' href='" + windowHref + "view=mobile'>Mobile Site</a>"
                );
            }

            //-->
        </script>

    </div><!-- end container -->
</div><!-- end footer-wrap -->


<!-- Placed at the end of the document so the pages load faster -->
<script src="/common-files/js/jquery-1.10.2.min.js"></script>
<script src="/flat-ui/js/bootstrap.min.js"></script>
<script src="/common-files/js/modernizr.custom.js"></script>
<script src="/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/common-files/js/jquery.parallax.min.js"></script>
<script src="/common-files/js/startup-kit.js"></script>
<script src="/common-files/js/jquery.backgroundvideo.min.js"></script>
<script src="/js/script.js"></script>


</body>
</html>
